<template>
  <TableWrapper>


    <template v-slot:title>
      Список клиентов
    </template>

    <template v-slot:table-header>
      <th>Тип</th>
      <th>Название</th>
      <th>Физический адрес</th>
      <th>Юридический адрес</th>
      <th>Телефон</th>
      <th>Адрес эл. почты</th>
      <th>ИНН</th>
      <th>КПП</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </template>
    <template v-slot:default>
      <tr :key="index" v-bind="clients" v-for="(client, index) in clients">
        <td>{{ client.rawType ? "Физическое лицо" : "Юридическое лицо" }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.physicalAddress }}</td>
        <td>{{ client.legalAddress }}</td>
        <td>{{ client.tel }}</td>
        <td>{{ client.mailAddress }}</td>
        <td>{{ client.taxpayerNumber }}</td>
        <td>{{ client.crr }}</td>
        <td>
          <router-link :to="getLinkEdit(client.id)">
            <button class="catalog_button colored-orange">Изменить</button>
          </router-link>
        </td>
        <td>
          <button
            class="catalog_button colored-red"
            @click.prevent="deleteEntity(client.id)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </template>
  </TableWrapper>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import TableWrapper from "../../../layouts/wrappers/TableWrapper.vue";
import {Client} from "@/scripts/model/Client";
import axios from "axios";

@Component({
  components: { TableWrapper }
})
export default class ClientList extends Vue {
  clients: Client[] = [];

  mounted() {
    this.loadTable();
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }

  loadTable() {
    axios.get("/clients").then(response => {
      this.clients = response.data;
    });
  }

  deleteEntity(id: number) {
    if (confirm("Вы точно хотите удалить?")) {
      axios.delete("clients/delete", { params: { id: id } }).then(response => {
        this.loadTable();
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
