<template>
  <EntityWrapper v-bind:on-submit="onSubmit">
    <template v-slot:title>
      Список редактирования клиентов
    </template>

    <div class="header-h1">
      <h1 v-if="addMode">Форма создания нового клиента</h1>
      <h1 v-else>Форма редактирования данных о клиенте</h1>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="rawType">Тип *</label>
        <select
            required
            class="custom-select"
          id="rawType"
          v-model="client.rawType"
          v-on:change="erroredClient.rawType = ''"
        >
<!--          <option value="true">Физическое лицо</option>-->
          <option value="false">Юридическое лицо</option>
        </select>
      </div>
      <span class="error_message">{{ erroredClient.rawType }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="name">Название *</label>
        <input
          required
          id="name"
          v-model="client.name"
          type="text"
          v-on:keyup="erroredClient.name = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.name }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="physicalAddress">Физический адрес *</label>
        <input
          required
          id="physicalAddress"
          v-model="client.physicalAddress"
          type="text"
          v-on:keyup="erroredClient.physicalAddress = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.physicalAddress }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="legalAddress">Юридический адрес *</label>
        <input
          required
          id="legalAddress"
          v-model="client.legalAddress"
          type="text"
          v-on:keyup="erroredClient.legalAddress = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.legalAddress }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="tel">Телефон *</label>
        <input
          required
          id="tel"
          v-model="client.tel"
          type="text"
          v-mask="'+7 (999) 999-99-99'"
          v-on:keyup="erroredClient.tel = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.tel }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="mailAddress">Адрес эл. почты *</label>
        <input
          required
          id="mailAddress"
          v-model="client.mailAddress"
          type="text"
          v-on:keyup="erroredClient.mailAddress = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.mailAddress }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="taxpayerNumber">ИНН *</label>
        <input
          required
          id="taxpayerNumber"
          v-model="client.taxpayerNumber"
          type="text"
          v-mask="'##########'"
          v-on:keyup="erroredClient.taxpayerNumber = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.taxpayerNumber }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="crr">КПП *</label>
        <input
          required
          id="crr"
          v-model="client.crr"
          type="text"
          v-mask="'#########'"
          v-on:keyup="erroredClient.crr = ''"
        />
      </div>
      <span class="error_message">{{ erroredClient.crr }}</span>
    </div>
  </EntityWrapper>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import {Client} from "@/scripts/model/Client";
import axios from "axios";
import EntityWrapper from "@/components/layouts/wrappers/EntityWrapper.vue";

@Component({
  components: {EntityWrapper}
})
export default class ClientEditor extends Vue {
  @Prop() id?: number;
  client: Client = {};
  erroredClient: Client = {};
  addMode = false; //true -> edit mode

  created() {
    this.client = {};
    this.erroredClient = {};

    if (this.id == null) {
      this.addMode = true;
    }

    if (!this.addMode) {
      axios
        .get("/clients/exact", { params: { id: this.id } })
        .then(response => {
          this.client = response.data;
        });
    }
  }

  onSubmit(goBack: () => void) {
    let url;

    if (this.addMode) {
      url = "/clients/add";
    } else {
      url = "/clients/edit";
    }

    axios
      .post(url, this.client)
      .then(response => {
        if (response.status == 201) {
          goBack();
        }
      })
      .catch(error => {
        if (error.response.status == 422) {
          this.erroredClient = error.response.data;
          console.log(this.erroredClient);
        } else {
          console.log(error.response);
        }
      });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/add.scss";
</style>
