<template>
  <div class="wrapper">
    <div class="upper_container_block">
      <div class="upper_inner_container_logo">
        <router-link to="/">
          <img class="upper_container_logo" src="@/assets/images/logo.png" />
        </router-link>
        <div class="upper_container_item_wrapper"></div>
      </div>
    </div>
    <div class="upper_container_block_right">
      <div class="upper_inner_container_profile">
        <img class="upper_container_logo" src="@/assets/images/profile.png" />
        <div class="upper_container_item_wrapper">
          <div class="upper_container_right_aligned">
            <b
              ><span>{{
                user.hasEmployee
                  ? user.fullName + " / " + user.jobPosition
                  : user.userName
              }}</span></b
            >
          </div>
          <div class="upper_container_right_aligned">
            <b
              ><span>План на месяц: {{ user.plan }} руб.</span></b
            >
          </div>
        </div>
      </div>
      <div class="upper_inner_logout_container">
        <div class="upper_container_btn_wrapper">
          <button
            class="upper_container_button common_button colored-gray"
            v-on:click="logout"
          >
            Выйти
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import authManager from "@/scripts/auth-manager";
import { createNamespacedHelpers } from "vuex";
import { UserData } from "@/store/modules/UserModule";
import axios from "axios";
import { Employee } from "@/scripts/model/Employee";

const { mapState } = createNamespacedHelpers("user");

@Component({
  computed: mapState(["user"])
})
export default class Header extends Vue {
  private user!: UserData; // is assigned via mapState
  private props: Map<string, string> = new Map<string, string>();

  public logout() {
    authManager.logout();
  }

  async created() {
    await axios.get("/properties").then(response => {
      this.props = response.data;
    });
  }

  mounted() {
    window.setInterval(() => {
      this.$store.dispatch("user/loadCurrentUser");
    }, 30000); //30 seconds
  }
}
</script>

<style scoped>
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.upper_container_block,
.upper_container_block_right {
  display: flex;
  flex-direction: row;
}

.upper_container_block_right {
  width: 100%;
  justify-items: right;
}

.upper_inner_container_logo {
  display: flex;
  flex-direction: row;
}

.upper_inner_container_profile {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.upper_inner_logout_container {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}

.upper_container_logo {
  margin: 5px 20px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.upper_container_item_wrapper {
  margin: auto 0;
  min-width: 250px;
}

.upper_container_btn_wrapper {
  margin: auto 0;
  min-width: 200px;
}

.upper_container_right_aligned {
  text-align: right;
}

.upper_container_button {
  width: 100%;
}
</style>
