<template>
  <div class="fragment_container">
    <div class="fragment_top">
      <slot name="header"></slot>
    </div>
    <div class="fragment_mid">
      <slot></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class MainFragment extends Vue {}
</script>

<style scoped>
.fragment_container {
  word-break: break-word;

  display: flex;
  flex-direction: column;
  width: calc(100% - 275px); /*минус ширина от SideMenu*/
}

@media (max-width: 999px) {
  .fragment_container {
    width: auto !important;
  }
}

.fragment_top {
  min-height: 60px;
  max-height: 60px;
  min-width: 100%;

  background: white;
}

.fragment_mid {
  height: 100%;
}
</style>
