<template>
  <div class="side_menu_container">
    <div class="side_menu_inner_container">
      <div class="side_menu_spacer"></div>
      <div class="side_menu_link_container">
        <span v-if="user.roles !== '[user]'">
          <router-link to="/employees">Сотрудники</router-link>
        </span>
        <span v-if="user.roles !== '[admin]'">
          <router-link to="/deals">Заказы/сделки</router-link>
        </span>
        <span v-if="user.roles !== '[admin]'">
          <router-link to="/clients">Контрагенты</router-link>
        </span>
        <span v-if="user.roles !== '[admin]'">
          <router-link to="/nomen">Номенклатура</router-link>
        </span>
        <span v-if="user.roles !== '[user]'">
          <router-link to="/users">Аккаунты</router-link>
        </span>
        <span>
          * * * * * Отчёты * * * * *
                  </span>
        <span>
          <router-link to="/summaryReport">Сводный отчёт</router-link>
                  </span>
        <span>
          <router-link
              to="/boardForTheCurrentBate">Доска на текущую дату
          </router-link>
                  </span>
        <span>
          <router-link to="/taymentPlanForTomorrow">План продаж за завтра</router-link>
                  </span>
        <span>
          <router-link to="/theFactOfThePaymentsForToday">Факт оплат за сегодня</router-link>
                  </span>
        <span>
          <router-link to="/factOfPaymentsForAWeek">План оплат на неделю</router-link>
        </span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {UserData} from "@/store/modules/UserModule";
import {createNamespacedHelpers} from "vuex";

const {mapState} = createNamespacedHelpers("user");

@Component({
  computed: mapState(["user"])
})
export default class SideMenu extends Vue {
  private user!: UserData;
}
</script>

<style scoped>
.side_menu_container {
  min-width: 275px;
  width: 275px;

  background: #b8dff3;
  min-height: calc(100vh - 90px);
}

.side_menu_inner_container {
  display: flex;
  flex-direction: column;
}

.side_menu_spacer {
  margin-top: 25px;
}

.side_menu_link_container {
  display: flex;
  flex-direction: column;
}

.side_menu_link_container span {
  margin: 15px 22px 15px;
}

.side_menu_link_container span a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.side_menu_link_container span a:hover {
  color: #3c58c1;
}
</style>
