<template>
  <EntityWrapper v-bind:on-submit="onSubmit">
    <template v-slot:title>
      Список редактирования аккаунтов
    </template>
    <div class="header-h1">
      <h1 v-if="addMode">Форма создания нового аккаунта</h1>
      <h1 v-else>Форма редактирования данных аккаунта</h1>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="login">Логин *</label>
        <input
            id="login"
            required
            type="text"
            v-model="user.username"
            v-on:keyup="erroredUser.username = ''"
        />
      </div>
      <span class="error_message">{{ erroredUser.username }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="password" v-if="addMode">Пароль *</label>
        <label for="password" v-else>Новый пароль</label>
        <input
          id="password"
          required
          type="password"
          v-model="user.password"
          v-on:keyup="
            erroredUser.password = '';
            erroredPasswordRepeat = '';
          "
        />
      </div>
      <span class="error_message">{{ erroredUser.password }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="password_repeat" v-if="addMode">Повторите пароль *</label>
        <label for="password" v-else>Повторите пароль</label>
        <input
          id="password_repeat"
          required
          type="password"
          v-model="passwordRepeat"
          v-on:keyup="erroredPasswordRepeat = ''"
        />
      </div>
      <span class="error_message">{{ erroredPasswordRepeat }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <!--        <div v-bind="roles" v-for="role in roles" :key="role.id">-->
        <!--          <label>{{ role.nameRole }}</label>-->
        <!--          <input type="checkbox" v-model="user.roleIds" :value="role.id"  >-->
        <!--        </div>-->

        <label for="role">Роли *</label>
        <select
          required
          id="role"
          v-model="user.roleIds"
          v-bind="roles"
          v-on:change="erroredUser.roleIds = ''"
        >
          <option v-if="addMode" disabled value="">Выберите роль</option>
          <option v-for="role in roles" :key="role.id" v-bind:value="role.id">
            {{ role.nameRole }}
          </option>
        </select>
      </div>
      <!--      <div>Selected: {{ selected }}</div>-->
      <span class="error_message">{{ erroredUser.roleIds }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="enabled">Тип *</label>
        <select
          class="custom-select"
          id="enabled"
          required
          v-model="user.enabled"
          v-on:change="erroredUser.enabled = ''"
        >
          <option disabled value="">Выберите статус аккаунта</option>
          <option value="true">Активная</option>
          <option value="false">Не активная</option>
        </select>
      </div>
      <span class="error_message">{{ erroredUser.enabled }}</span>
    </div>
  </EntityWrapper>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import axios from "axios";
import EntityWrapper from "@/components/layouts/wrappers/EntityWrapper.vue";
import { User } from "@/scripts/model/User";
import { Role } from "@/scripts/model/Role";

@Component({
  components: { EntityWrapper }
})
export default class AccountEditor extends Vue {
  @Prop() id?: number;
  user: User = {};
  erroredUser: User = {};
  addMode = false; //true -> edit mode

  passwordRepeat = "";
  erroredPasswordRepeat = "";

  roles: Role[] = [];

  async created() {
    this.user = {};
    this.erroredUser = {};
    this.roles = [];

    if (this.id == null) {
      this.addMode = true;
    }

    await axios.get("roles").then(response => {
      this.roles = response.data;
    });

    if (!this.addMode) {
      await axios
        .get("/users/exact", { params: { id: this.id } })
        .then(response => {
          this.user = response.data;
          this.user.roleIds = response.data.roleIds[0];
        });
    }
  }

  onSubmit(goBack: () => void) {
    if (this.user.password != this.passwordRepeat) {
      this.erroredPasswordRepeat = "Пароли не совпадают";
      return;
    }

    let url;

    if (this.addMode) {
      url = "/users/add";
    } else {
      url = "/users/edit";
    }

    axios
      .post(url, this.user)
      .then(response => {
        if (response.status == 201) {
          goBack();
        }
      })
      .catch(error => {
        if (error.response.status == 422) {
          this.erroredUser = error.response.data;
          console.log(this.erroredUser);
        } else {
          console.log(error.response);
        }
      });
  }
}
</script>

<style lang="scss" scoped>
@import "~@/assets/css/add.scss";
</style>
