<template>
  <TableWrapper>
    <template v-slot:title>
      Список аккаунтов
    </template>
    <template v-slot:table-header>
      <th>Логин</th>
      <th>Роль</th>
      <th>Статус</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </template>
    <template v-slot:default>
      <tr :key="index" v-bind="users" v-for="(user, index) in users">
        <td>{{ user.username }}</td>
        <td>
          {{ roleNameMap[user.id] }}
        </td>
        <td>{{ user.enabled ? "Активная" : "Не активная" }}</td>
        <td>
          <router-link :to="getLinkEdit(user.id)">
            <button class="catalog_button colored-orange">Изменить</button>
          </router-link>
        </td>
        <td>
          <button
            class="catalog_button colored-red"
            @click.prevent="deleteEntity(user.id)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </template>
  </TableWrapper>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import TableWrapper from "@/components/layouts/wrappers/TableWrapper.vue";
import {User} from "@/scripts/model/User";

import axios from "axios";

@Component({ components: { TableWrapper } })
export default class AccountList extends Vue {
  users: User[] = [];
  roleNameMap = new Map();

  mounted() {
    this.loadTable();
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }

  loadTable() {
    axios.get("/users").then(response => {
      this.users = response.data;
      const clientIds = this.users.map(user => user.id);

      axios.post("roles/from-user-id", clientIds).then(response => {
        this.roleNameMap = response.data;
      });
    });
  }

  deleteEntity(id: number) {
    if (confirm("Вы точно хотите удалить?")) {
      axios.delete("users/delete", { params: { id: id } }).then(response => {
        this.loadTable();
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
