<template>
  <!--  <div class="main_container" @scroll="handleScroll($event)">-->
  <div class="main_container">
    <div class="upper_container" ref="header">
      <Header />
    </div>
    <div class="mid_container">
      <div class="mid_inner_container">
        <SideMenu />
        <router-view />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Header from "@/components/fragments/Header.vue";
import SideMenu from "@/components/fragments/SideMenu.vue";
import axios from "axios";

@Component({
  components: {
    Header,
    SideMenu
  }
})
export default class DefaultLayout extends Vue {
  // handleScroll(event: Event) {
  //   const header: HTMLElement = this.$refs.header as HTMLElement;
  //   const sticky = header.offsetTop;
  //   console.log("offsetTop: " + sticky)
  //   console.log("pageYOffset: " + header.scrollTop)
  //   if (window.pageYOffset > sticky) {
  //     console.log("Add Sticky")
  //     header.classList.add("sticky");
  //   } else {
  //     console.log("Remove Sticky")
  //     header.classList.remove("sticky");
  //   }
  // }
}
</script>

<style scoped>
.main_container {
  height: 100%;
  overflow: auto;

  display: flex;
  flex-direction: column;

  word-break: break-word;

  background: #dadce2;
}

.upper_container {
  min-height: 100px;
  height: 100px;
}

.mid_container {
  display: flex;
}

.mid_inner_container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

/*!* The sticky class is added to the header with JS when it reaches its scroll position *!*/
/*.sticky {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  width: 100%;*/
/*}*/
</style>
