<template>
  <MainFragment>
    <template v-slot:header>
      <header>
        <p>Добро пожаловать на стартовую страницу сайта</p>
      </header>
    </template>

    <main>
      <p>Тут будет находиться информация о вашей фирме или правила для сотрудников, которые они должны выполнять на
        рабочем месте</p>
    </main>
  </MainFragment>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import MainFragment from "@/components/fragments/MainFragment.vue";
import axios from "axios";

@Component({ components: { MainFragment } })
export default class HomePage extends Vue {
  beforeCreate() {
    axios.get("/").then(response => {
      console.log(response.data);
    });
  }
}
</script>

<style scoped></style>
