<template>
  <div class="main_container">
    <div class="window">
      <form v-on:submit.prevent="logIn">
        <div class="spacer"></div>
        <div>
          <div class="line">
            <div class="center_wrapper">
              <label for="login">Логин:</label>
              <input
                id="login"
                type="text"
                v-model="login"
                v-on:keyup="resetError"
              />
            </div>
          </div>
          <div class="line">
            <div class="center_wrapper">
              <label for="password">Пароль:</label>
              <input
                id="password"
                type="password"
                v-model="password"
                v-on:keyup="resetError"
              />
            </div>
          </div>
          <div class="line-column">
            <button type="submit" class="catalog_button">Войти</button>
          </div>
        </div>
        <div class="spacer">
          <p class="error">{{ error }}</p>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { StatusCodes } from "http-status-codes";
import authManager from "@/scripts/auth-manager";

@Component
export default class LoginWindow extends Vue {
  private login = "";
  private password = "";
  private error = "";

  private resetError() {
    this.error = "";
  }

  private logIn() {
    this.resetError();

    authManager
      .getAxios(true)
      .post("login", {
        username: this.login,
        password: this.password
      })
      .then(response => {
        authManager.auth(response.data);
        this.$router.push("/");
      })
      .catch(error => {
        this.error = error.response.data.message;
      });
  }
}
</script>

<style scoped>
*, *:-webkit-autofill::first-line /* для автозаполнения Google Chrome, иначе он свой шрифт подставляет */
 {
  font-family: "Roboto";
  font-size: 24px;
}

.main_container {
  width: 100%;
  height: 100%;
  overflow: auto;

  background: #dadce2;

  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 800px;
  height: 500px;
  background: #a0a2a7;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacer {
  height: 115px;
}

.line,
.line-column {
  width: 100%;

  margin: 34px 0;

  display: flex;
  justify-content: center;
}

.line {
  height: 70px;
  align-items: center;
}

.line-column {
  width: 100%;

  align-items: end;

  flex-direction: column;
}

.center_wrapper {
  width: 754px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.center_wrapper label {
  margin-right: 19px;
  min-width: 134px;
  text-align: right;
}

.center_wrapper input {
  width: 500px;
  height: 50px;
  border-radius: 20px;
  padding: 0 10px;
}

.center_wrapper input:focus {
  outline: none;
  box-shadow: 0 0 2px #0066ff;
}

.catalog_button {
  height: 50px;
  border: 0;

  width: 300px;
  margin: 0 auto;
  border-radius: 20px;
  background: #3c58c1;
}

.catalog_button:focus {
  outline: none;
}

.error {
  text-align: center;
}
</style>
