body {
    background-color: #BFD4D9;
}

.container {
    width: 40%;
    height: 40%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px #000000;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

input[type="text"],
input[type="password"] {
    height: 40px;
    width: 390px;
    font-size: 18px;
    margin-bottom: 40px;
    border-radius: 5px;
    padding-left: 15px;
}

input[type="submit"] {
    position: absolute;
    top: 80%;
    left: 50%;
    background-color: #0F5959;
    border: none;
    color: white;
    padding: 16px 120px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container .Login {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container .Passwords {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container .RememberMe {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container .Error {
    background: #f57373;
    border: 3px solid #8f0e0e;
    width: 45%;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container .Logout {
    background: #67E667;
    border: 3px solid #00CC00;
    width: 45%;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}