@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Roboto';
    /*font-style: normal;*/
    /*font-weight: normal;*/
    font-size: 24px;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;

    overflow: auto;
}

.main_container {
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;

    word-break: break-word;

    background: #DADCE2;
}

.upper_container {
    min-height: 100px;
    height: 100px;

    display: flex;
    flex-direction: row;
}

.upper_container_block, .upper_container_block_right {
    display: flex;
    flex-direction: row;
}

.upper_container_block_right {
    width: 100%;
    justify-items: right;
}

.upper_inner_container_logo {
    display: flex;
    flex-direction: row;
}

.upper_inner_container_profile {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.upper_inner_logout_container {
    display: flex;
    flex-direction: row;
    margin: 0 30px;
}

.upper_container_logo {
    margin: 5px 20px;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.upper_container_item_wrapper {
    margin: auto 0;
    min-width: 250px;
}

.upper_container_btn_wrapper {
    margin: auto 0;
    min-width: 200px;
}

.upper_container_right_aligned {
    text-align: right;
}

.upper_container_button {
    width: 100%;
}

.mid_container {
    display: flex;
}

.mid_inner_container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.side_menu_container {
    min-width: 330px;
    width: 330px;

    background: #B8DFF3;
    min-height: calc(100vh - 120px);
}

.fragment_container {
    word-break: break-word;

    display: flex;
    flex-direction: column;

    width: calc(100% - 330px);
}

.fragment_top {
    min-height: 60px;
    height: 91px;
    min-width: 100%;

    background: white;
}

.fragment_mid {
    height: 100%;
}

.side_menu_inner_container {
    display: flex;
    flex-direction: column;
}

.side_menu_spacer {
    margin-top: 25px;
}

.side_menu_link_container {
    display: flex;
    flex-direction: column;
}

.side_menu_link_container span {
    margin: 15px 22px 15px;
}

.side_menu_link_container span a {
    text-decoration: none;
    color: black;
}

.side_menu_link_container span a:hover {
    color: #3C58C1;
}

.common_button {
    border-radius: 10px;
    height: 35px;
    border: none;
}

.common_button:focus {
    outline: none;
}

.blue {
    background: #0AA3F9;
}

.gray {
    background: #A1A2A7;
}