.view {
    border-collapse: collapse;
    background-color: white;
    min-width: 99%;
    text-align: center;
    white-space: nowrap;

}

.td, .th {
    border: 1px solid black;
    padding: 6px 28px;


}

.table {
    overflow: auto;
    margin-right: 28px;

}

.button-add {
    background: #3AAB87;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 49px;
    width: 200px;
    height: 40px;

}

.button-edit {
    background: #FFBF35;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 10px;
    width: 200px;
    height: 40px;

}

.button-delete {
    background: #EE4E41;
    border-radius: 10px;
    margin-top: 9px;
    margin-left: 10px;
    width: 200px;
    height: 40px;

}