<template>
  <TablePrinter>
    <template v-slot:title>
      Доска на текущую дату
    </template>
    <template v-slot:table-header>
      <th>ФИО менеджера</th>
      <th>Процент выполнения плана на текущий день</th>
      <th>Факт абсолютное значение</th>
      <th>Осталось до конца недели</th>
      <th>План до конца недели</th>
      <th>План на месяц</th>
      <!--      <th>Дней в месяце</th>-->
      <!--      <th>Недель прошло, включаю данную неделю</th>-->

      <!--      <th>Количество прошедших дней , включая сегодняшний</th>-->
      <!--      <th>Дата+время для проверки</th>-->
    </template>
    <template v-slot:default>
      <tr v-bind="infos" v-for=" (info, index) in infos" :key="index">
        <td>{{ info.employeeName }}</td>
        <td>{{ info.plan_percent }} %</td>
        <td>{{ info.paymentFact }}</td>
        <!--        <td>{{ isNaN(date.getDay() / date.getDay()) ? "0" : (7 - date.getDay()) }}</td>-->
        <td>{{ info.plan_lost_to_week }}</td>
        <td>{{ info.plan_to_week }}</td>
        <td>{{ info.plan }}</td>
        <!--        <td>{{ daysInMonth }}</td>-->
        <!--        <td>{{ Math.ceil(date.getDate() / 7) }}</td>-->

        <!--        <td>{{ date.getDate() }}</td>-->
        <!--        если указать 'date ' то будет только дата, если 'time' то время и можно объединить 'datetime'-->
        <!--        <td>{{ date| date('datetime') }}</td>-->
      </tr>
    </template>
  </TablePrinter>


</template>





<script lang="ts">
import TablePrinter from "../../../layouts/wrappers/TablePrinter.vue";
import {Component, Vue} from "vue-property-decorator";
import axios from "axios";

@Component({components: {TablePrinter}})

export default class DealList extends Vue {
  infos: any[] = [];
  date = new Date();
  daysInMonth = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 0).getDate();


  mounted() {
    axios
        .get('reports/summary-report')
        .then(response => {
          this.infos = response.data
        });

    //Обновляет время на странице каждый timeout . как укажешь, так и будет.
    setInterval(() => {
      this.date = new Date();
    }, 1000);

  }





}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";

</style>
