<template>
  <TablePrinter>
    <template v-slot:title>
      План оплат на неделю
    </template>
    <template v-slot:table-header>
      <th>ФИО МП</th>
      <th>Клиент</th>
      <th>Сумма</th>
      <th>Когда оплатит</th>
      <!--      <th>Ссылка на клиента</th>-->
    </template>
    <template v-slot:default>
      <tr v-bind="infos" v-for=" (info, index) in infos" :key="index">
        <td>{{ info.employeeName }}</td>
        <td>{{ info.clientName }}</td>
        <td>{{ info.dealPrice }}</td>
        <td>{{ info.date_start_deals }}</td>
        <!--        <td>{{ info.clientLink }}</td>-->
      </tr>
    </template>
  </TablePrinter>


</template>





<script lang="ts">
import TablePrinter from "../../../layouts/wrappers/TablePrinter.vue";
import {Component, Vue} from "vue-property-decorator";
import axios from "axios";

@Component({components: {TablePrinter}})
export default class DealList extends Vue {
  infos: any[] = [];
  mounted() {
    axios
        .get('reports/payments-for-week')
        .then(response => {
          this.infos = response.data
        });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";

</style>
