<template>
  <TablePrinter>
    <template v-slot:title>
      План продаж за завтра
    </template>
    <template v-slot:table-header>
      <th>Название продукта</th>
      <th>Название клиента</th>
      <th>Сумма оплаты</th>
      <th>Статус оплаты</th>
      <!--      <th>Ссылка на клиента в CRM</th>-->
    </template>
    <template v-slot:default>
      <tr v-bind="infos" v-for=" (info, index) in infos" :key="index">
        <td>{{ info.prodName }}</td>
        <td>{{ info.clientName }}</td>
        <td>{{ info.dealPrice }}</td>
        <td>{{ info.paymentStatus }}</td>
        <!--        <td>{{ info.clientLink }}</td>-->
      </tr>

    </template>
  </TablePrinter>


</template>





<script lang="ts">
import TablePrinter from "../../../layouts/wrappers/TablePrinter.vue";
import {Component, Vue} from "vue-property-decorator";
import axios from "axios";

@Component({components: {TablePrinter}})
export default class DealList extends Vue {
  infos: any[] = [];
  mounted() {
    axios
        .get('reports/payments-for-tomorrow')
        .then(response => {
          this.infos = response.data
        });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";

</style>
