<template>
  <TablePrinter>
    <template v-slot:title>
      Сводный отчёт
    </template>
    <template v-slot:table-header>
      <th>ФИО менеджера</th>
      <th>Факт оплаты, руб.</th>
      <th>Процент выполнения плана</th>
      <th>Нужно до конца недели</th>
      <th>Нужно до конца месяца</th>
      <th>Статус оплаты</th>
    </template>
    <template v-slot:default>
      <tr v-bind="infos" v-for=" (info, index) in infos" :key="index">
        <td>{{ info.employeeName }}</td>
        <td>{{ info.paymentFact }}</td>
        <td>{{ info.plan_percent }} %</td>
        <td>{{ info.plan_lost_to_week }}</td>
        <td>{{ info.plan_lost_to_month }}</td>
        <td>{{ info.paymentStatus }}</td>
      </tr>
    </template>
  </TablePrinter>


</template>





<script lang="ts">
import TablePrinter from "../../../layouts/wrappers/TablePrinter.vue";
import {Component, Vue} from "vue-property-decorator";
import axios from "axios";

@Component({components: {TablePrinter}})
export default class DealList extends Vue {
  infos: any[] = [];
  mounted() {
    axios
        .get('reports/summary-report')
        .then(response => {
          this.infos = response.data
        });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";

</style>
