<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";
import Component from "vue-class-component";
import authManager from "@/scripts/auth-manager";

@Component
export default class App extends Vue {
  created() {
    authManager.setup(this.$root.$router, this.$store);
  }
}
</script>

<style>
@import "assets/css/main.css";

#app {
  height: 100%;
}
</style>
