<template>
  <MainFragment>
    <template v-slot:header>
      <button
        type="button"
        class="catalog_button first-upper-button colored-blue"
        @click.prevent="goBack"
      >
        Вернуться к таблице
      </button>
      <slot name="title"></slot>
    </template>

    <div class="entity_form_wrapper">
      <div class="entity_form">
        <form method="post">
          <div class="entity_form_table">
            <slot></slot>

            <button
              class="common_button colored-blue"
              type="submit"
              @click.prevent="handleSubmitButton"
            >
              Сохранить
            </button>
          </div>
        </form>
      </div>
    </div>
  </MainFragment>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import MainFragment from "@/components/fragments/MainFragment.vue";

@Component({
  components: { MainFragment }
})
export default class EntityWrapper extends Vue {
  @Prop({ required: true })
  readonly onSubmit!: (goBackFunc: () => void) => void;

  goBack() {
    this.$router.go(-1);
  }

  handleSubmitButton() {
    this.onSubmit(() => this.goBack());
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";

.entity_form_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.entity_form {
  /*width: 1200px;*/
  background: white;
  border: 2px solid black;
}

.entity_form_table {
  padding: 31px;
}
</style>
