<template>
  <MainFragment>
    <template v-slot:header>
      <router-link :to="linkPrint">
        <button
            type="button"
            class="catalog_button first-upper-button colored-cyan"
        >
          Скачать
        </button>
      </router-link>
      <slot name="title"></slot>
    </template>

    <div class="catalog">
      <table class="view">
        <tr class="table_tr">
          <slot name="table-header"></slot>
        </tr>
        <slot></slot>
      </table>
    </div>
  </MainFragment>
</template>


<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import MainFragment from "@/components/fragments/MainFragment.vue";

@Component({
  components: {MainFragment}
})
export default class TablePrinter extends Vue {
  get linkPrint(): string {
    return this.$route.path;
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
