<template>
  <MainFragment>
    <template v-slot:header>
      <router-link :to="linkAdd">
        <button
            type="button"
            class="catalog_button first-upper-button colored-cyan"
        >
          Добавить
        </button>
      </router-link>
      <slot name="title"></slot>
    </template>
    <div class="catalog">
      <table class="view">
        <tr clas="table_tr">
          <slot name="table-header"></slot>
        </tr>
        <slot></slot>
      </table>
    </div>
  </MainFragment>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import MainFragment from "@/components/fragments/MainFragment.vue";

@Component({
  components: {MainFragment}
})
export default class TableWrapper extends Vue {


  get linkAdd(): string {
    return this.$route.path + "/new";
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
