<template>
  <TableWrapper>

    <template v-slot:title>
      Список сотрудников
    </template>

    <template v-slot:table-header>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата приёма на работу</th>
      <th>Дата окончания работы</th>
      <th>Должность</th>
      <th>Фото</th>
      <th>План, руб.</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </template>
    <template v-slot:default>
      <tr
          v-bind="employees"
          v-for="(employee, index) in employees"
          :key="index"
      >
        <td>{{ employee.surname }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.patronymic }}</td>
        <td>{{ employee.dateStartWork }}</td>
        <td>{{ employee.dateEndWork }}</td>
        <td>{{ employee.jobPosition }}</td>
        <td>
          <img
              v-if="employee.photoId != null"
              style="width: 150px;"
              v-bind:src="`data:image/png;base64, ${photoMap[employee.photoId]}`"
          />
          <span v-else>Нет фото</span>
        </td>
        <td>{{ employee.plan }}</td>
        <td>
          <router-link :to="getLinkEdit(employee.id)">
            <button class="catalog_button colored-orange">Изменить</button>
          </router-link>
        </td>
        <td>
          <button
              class="catalog_button colored-red"
              @click.prevent="deleteEntity(employee.id)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </template>
  </TableWrapper>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import TableWrapper from "@/components/layouts/wrappers/TableWrapper.vue";
import {Employee} from "@/scripts/model/Employee";

import axios from "axios";

@Component({components: {TableWrapper}})
export default class EmployeeList extends Vue {
  employees: Employee[] = [];
  photoMap: any = {};

  mounted() {
    this.loadTable();
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }

  loadTable() {
    this.photoMap = {};

    axios.get("/employees").then(response => {
      this.employees = response.data;

      for (const employee of this.employees) {
        if (employee.photoId != null) {
          axios
              .get("/storage/images/employees", {
                params: {id: employee.photoId}
              })
              .then(response => {
                this.$set(this.photoMap, employee.photoId!!, response.data);
              });
        }
      }
    });
  }

  deleteEntity(id: number) {
    if (confirm("Вы точно хотите удалить?")) {
      axios
          .delete("employees/delete", {params: {id: id}})
          .then(response => {
            this.loadTable();
          });
    }
  }
}

</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
