<template>
  <EntityWrapper v-bind:on-submit="onSubmit">

    <template v-slot:title>
      Список редактирования сотрудников
    </template>

    <div class="header-h1">
      <h1 v-if="addMode"> Форма создания нового сотрудника</h1>
      <h1 v-else> Форма редактирования данных о сотруднике</h1>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="surname">Фамилия *</label>
        <input
            required
            id="surname"
          v-model="employee.surname"
          type="text"
          v-on:keyup="erroredEmployee.surname = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.surname }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="name">Имя *</label>
        <input
          required
          id="name"
          v-model="employee.name"
          type="text"
          v-on:keyup="erroredEmployee.name = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.name }}</span>
    </div>

    <div class="entity_field">
      <div class="entity_form_line">
        <label for="patronymic">Отчество *</label>
        <input
          required
          id="patronymic"
          v-model="employee.patronymic"
          type="text"
          v-on:keyup="erroredEmployee.patronymic = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.patronymic }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="date-start-work">Дата начала работы *</label>
        <input
          required
          id="date-start-work"
          v-model="employee.dateStartWork"
          type="date"
          v-on:change="erroredEmployee.dateStartWork = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.dateStartWork }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="date-end-work">Дата окончания работы</label>
        <input
          placeholder="Ещё работает"
          id="date-end-work"
          v-model="employee.dateEndWork"
          type="date"
          v-on:change="erroredEmployee.dateEndWork = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.dateEndWork }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="job-position">Должность *</label>
        <input
          required
          id="job-position"
          v-model="employee.jobPosition"
          type="text"
          v-on:keyup="erroredEmployee.jobPosition = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.jobPosition }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <!-- TODO проверить, ставится ли селект в зависимости от уже установленного айдишника в работнике -->
        <label for="user">Аккаунт *</label>
        <select
          required
          id="user"
          v-model="employee.userId"
          v-bind="users"
          v-on:change="erroredEmployee.userId = ''"
        >
          <option v-if="addMode" disabled value="">Свободные аккаунты</option>
          <option v-for="user in users" :key="user.id" v-bind:value="user.id">
            {{ user.username }}
          </option>
        </select>
      </div>
      <span class="error_message">{{ erroredEmployee.userId }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="image">Фотография</label>
        <input id="image" @change="processFile($event)" type="file"/>
      </div>
    </div>

    <div class="entity_field">
      <div class="entity_form_line">
        <label for="plan">План(руб.) *</label>
        <input
            required
            id="plan"
            v-model="employee.plan"
            type="text"
            v-on:keyup="erroredEmployee.plan = ''"
        />
      </div>
      <span class="error_message">{{ erroredEmployee.plan }}</span>
    </div>
  </EntityWrapper>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import EntityWrapper from "@/components/layouts/wrappers/EntityWrapper.vue";
import {Employee} from "@/scripts/model/Employee";
import axios from "axios";
import {User} from "@/scripts/model/User";

//TODO проверять при открытии на роль hasRole('ROLE_ADMIN')
@Component({
  components: { EntityWrapper }
})
export default class EmployeeEditor extends Vue {
  @Prop() id?: number;
  employee: Employee = {};
  erroredEmployee: Employee = {};
  addMode = false; //true -> add mode

  users: User[] = [];

  image: any;

  created() {
    this.employee = {};
    this.erroredEmployee = {};
    this.users = [];

    if (this.id == null) {
      this.addMode = true;
    }

    axios
      .get("users", { params: { option: "WITHOUT_BOUND_EMPLOYEE" } })
      .then(response => {
        this.users = this.users.concat(response.data);

        if (!this.addMode) {
          axios
            .get("/employees/exact", { params: { id: this.id } })
            .then(response => {
              this.employee = response.data;

              axios
                .get("users/exact", { params: { id: this.employee.userId } })
                .then(response => {
                  const user: User = response.data;

                  this.users.push(user);
                  this.employee.userId = user.id;
                });
            });
        }
      });
  }

  processFile(event: any) {
    this.image = event.target.files[0];
  }

  onSubmit(goBack: () => void) {
    let url;

    const formData = new FormData();
    formData.append(
      "employee",
      new Blob([JSON.stringify(this.employee)], {
        type: "application/json"
      })
    );
    formData.append("image", this.image);

    if (this.addMode) {
      url = "/employees/add";
    } else {
      url = "/employees/edit";
    }

    console.log(typeof this.image);

    console.log(axios.defaults.headers);

    axios
      .post(url, formData, {
        headers: { "Content-Type": "multipart/form-data" }
      })
      .then(response => {
        if (response.status == 201) {
          goBack();
        }
      })
      .catch(error => {
        if (error.response.status == 422) {
          this.erroredEmployee = error.response.data;
          console.log(this.erroredEmployee);
        } else {
          console.log(error.response);
        }
      });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/add.scss";
</style>
