<template>
  <TableWrapper>
    <template v-slot:title>
      Список заказов
    </template>

    <template v-slot:table-header>
      <th>Название продукта</th>
      <th>Количество</th>
      <th>Дата сделки</th>
      <th>Контрагент</th>
      <th>Сотрудник</th>
      <th>Вероятность 10 %, руб.</th>
      <th>Вероятность 50 %, руб.</th>
      <th>Вероятность 100 %, руб.</th>
      <th>Сумма, руб.</th>
      <th>Факт оплаты, руб.</th>
      <th>Статус оплаты</th>
<!--      <th>Ссылка на слиена CRM</th>-->
      <th>Изменить</th>
      <th>Удалить</th>
    </template>
    <template v-slot:default>
      <tr v-bind="deals" v-for="(deal, index) in deals" :key="index">
        <td>{{ nomenNameMap[deal.nomenId] }}</td>
        <td>{{ deal.numberOfProducts }}</td>
        <td>{{ deal.dateStartDeals }}</td>
        <td>{{ clientNameMap[deal.clientId] }}</td>
        <td>{{ employeeNameMap[deal.employeeId] }}</td>
        <td>{{ deal.probability10 }}</td>
        <td>{{ deal.probability50 }}</td>
        <td>{{ deal.probability100 }}</td>
        <td>{{ deal.price }}</td>
        <td>{{ deal.paymentFact }}</td>
        <td>{{ deal.paymentStatus }}</td>
        <!--        <td>{{ deal.crmLink }}</td>-->
        <td>
          <router-link :to="getLinkEdit(deal.id)">
            <button class="catalog_button colored-orange">Изменить</button>
          </router-link>
        </td>
        <td>
          <button
              class="catalog_button colored-red"
              @click.prevent="deleteEntity(deal.id)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </template>
  </TableWrapper>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import TableWrapper from "@/components/layouts/wrappers/TableWrapper.vue";
import {Deal} from "@/scripts/model/Deal";

import axios from "axios";

@Component({ components: { TableWrapper } })
export default class DealList extends Vue {
  deals: Deal[] = [];
  clientNameMap = new Map();
  nomenNameMap = new Map();
  employeeNameMap = new Map();

  mounted() {
    this.loadTable();
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }

  loadTable() {
    axios.get("/deals").then(response => {
      this.deals = response.data;
      const nomenIds = this.deals.map(deal => deal.nomenId);
      const clientIds = this.deals.map(deal => deal.clientId);
      const employeeIds = this.deals.map(deal => deal.employeeId);

      axios.post("employees/id-to-name", employeeIds).then(response => {
        this.employeeNameMap = response.data;
      });
      axios.post("nomen/id-to-name", nomenIds).then(response => {
        this.nomenNameMap = response.data;
      });
      axios.post("clients/id-to-name", clientIds).then(response => {
        this.clientNameMap = response.data;
      });
    });
  }

  deleteEntity(id: number) {
    if (confirm("Вы точно хотите удалить?")) {
      axios.delete("deals/delete", { params: { id: id } }).then(response => {
        this.loadTable();
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
