<template>
  <EntityWrapper v-bind:on-submit="onSubmit">
    <template v-slot:title>
      Список редактирования заказов
    </template>
    <div class="header-h1">
      <h1 v-if="addMode">Форма создания заказа/сделки</h1>
      <h1 v-else>Форма редактирования данных о заказе/сделке</h1>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="fullName">Название продукта *</label>
        <select
            required
            id="fullName"
            v-model="deal.nomenId"
            v-bind="nomens"
            v-on:change="erroredDeal.nomenId = ''"
        >
          <option disabled value="">Выберите продукт</option>
          <option
              v-for="nomen in nomens"
              :key="nomen.id"
              v-bind:value="nomen.id"
          >
            {{ nomen.fullName }}
          </option>
        </select>
      </div>
      <span class="error_message">{{ erroredDeal.nomenId }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="numberOfProducts">Количество *</label>
        <input
          required
          id="numberOfProducts"
          v-model="deal.numberOfProducts"
          type="number"
          v-on:keyup="erroredDeal.numberOfProducts = ''"
        />
      </div>
      <span class="error_message">{{ erroredDeal.numberOfProducts }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="dateStartDeals">Дата сделки *</label>
        <input
          required
          id="dateStartDeals"
          v-model="deal.dateStartDeals"
          type="date"
          v-on:change="erroredDeal.dateStartDeals = ''"
        />
      </div>
      <span class="error_message">{{ erroredDeal.dateStartDeals }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="nameE">Сотрудник *</label>
        <select
          required
          id="nameE"
          v-model="deal.employeeId"
          v-bind="employees"
          v-on:change="erroredDeal.employeeId = ''"
        >
          <option disabled value="">Выберите сотрудника</option>
          <option
            v-for="employee in employees"
            :key="employee.id"
            v-bind:value="employee.id"
          >
            {{
              employee.name + " " + employee.surname + " " + employee.patronymic
            }}
          </option>
        </select>
      </div>
      <span class="error_message">{{ erroredDeal.employeeId }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="name">Контрагент* </label>
        <select
          required
          id="name"
          v-model="deal.clientId"
          v-bind="clients"
          v-on:change="erroredDeal.clientId = ''"
        >
          <option disabled value="">Выберите контрагента</option>
          <option
            v-for="client in clients"
            :key="client.id"
            v-bind:value="client.id"
          >
            {{ client.name }}
          </option>
        </select>
      </div>
      <span class="error_message">{{ erroredDeal.clientId }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="probability10">Вероятность 10% </label>
        <input
            required=""
            id="probability10"
            v-model="deal.probability10"
            type="text"
            v-on:keyup="erroredDeal.probability10 = ''"
            placeholder="руб."
        />
      </div>
      <span class="error_message">{{ erroredDeal.probability10 }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="probability50">Вероятность 50% </label>
        <input
            placeholder="руб."
            id="probability50"
            v-model="deal.probability50"
            type="text"
            v-on:keyup="erroredDeal.probability50 = ''"
            required="required"
        />
      </div>
      <span class="error_message">{{ erroredDeal.probability50 }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="probability100">Вероятность 100% </label>
        <input
            placeholder="руб."
            id="probability100"
            v-model="deal.probability100"
            type="text"
            v-on:keyup="erroredDeal.probability100 = ''"
            required
        />
      </div>
      <span class="error_message">{{ erroredDeal.probability100 }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="price">Сумма(руб.) *</label>
        <input
            required
            id="price"
            v-model="deal.price"
            type="text"
            v-on:keyup="erroredDeal.price = ''"
        />
      </div>
      <span class="error_message">{{ erroredDeal.price }}</span>
    </div>

    <div class="entity_field">
      <div class="entity_form_line">
        <label for="fact">Факт оплаты(руб.)</label>
        <input
            required
            id="fact"
            v-model="deal.paymentFact"
            type="text"
            v-on:keyup="erroredDeal.paymentFact = ''"
        />
      </div>
      <span class="error_message">{{ erroredDeal.paymentFact }}</span>
    </div>

    <div class="entity_field">
      <div class="entity_form_line">
        <label for="status">Статус оплаты</label>
        <select
            required
            class="custom-select"
            id="status"
            v-model="deal.paymentStatus"
            v-on:change="erroredDeal.paymentStatus = ''">
          <option>Предоплата</option>
          <option>Задолженность</option>
          <option>Полная оплата</option>
        </select>
      </div>
      <span class="error_message">{{ erroredDeal.paymentStatus }}</span>
    </div>

    <!--    <div class="entity_field">-->
    <!--      <div class="entity_form_line">-->
    <!--        <label for="ssilca">Ссылка на слиента CRM *</label>-->
    <!--        <input-->
    <!--            required-->
    <!--            id="ssilca"-->
    <!--            v-model="deal.crmLink"-->
    <!--            type="text"-->
    <!--            v-on:keyup="erroredDeal.crmLink = ''"-->
    <!--        />-->
    <!--      </div>-->
    <!--      <span class="error_message">{{ erroredDeal.crmLink }}</span>-->
    <!--    </div>-->

  </EntityWrapper>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import axios from "axios";
import {Deal} from "@/scripts/model/Deal";
import {Nomen} from "@/scripts/model/Nomen";
import {Client} from "@/scripts/model/Client";
import {Employee} from "@/scripts/model/Employee";
import EntityWrapper from "@/components/layouts/wrappers/EntityWrapper.vue";


@Component({
  components: {EntityWrapper}
})
export default class DealEditor extends Vue {
  @Prop() id?: number;
  deal: Deal = {};
  erroredDeal: Deal = {};
  addMode = false; //true -> edit mode

  nomens: Nomen[] = [];
  clients: Client[] = [];
  employees: Employee[] = [];

  created() {
    this.deal = {};
    this.erroredDeal = {};
    this.nomens = [];
    this.clients = [];
    this.employees = [];

    if (this.id == null) {
      this.addMode = true;
    }

    axios.get("clients").then(response => {
      this.clients = this.clients.concat(response.data);
    });

    axios.get("employees").then(response => {
      this.employees = this.employees.concat(response.data);
    });

    axios.get("nomen").then(response => {
      this.nomens = this.nomens.concat(response.data);
    });

    if (!this.addMode) {
      axios.get("/deals/exact", { params: { id: this.id } }).then(response => {
        this.deal = response.data;
      });
    }
  }

  onSubmit(goBack: () => void) {
    let url;

    if (this.addMode) {
      url = "/deals/add";
    } else {
      url = "/deals/edit";
    }

    axios
      .post(url, this.deal)
      .then(response => {
        if (response.status == 201) {
          goBack();
        }
      })
      .catch(error => {
        if (error.response.status == 422) {
          this.erroredDeal = error.response.data;
          console.log(this.erroredDeal);
        } else {
          console.log(error.response);
        }
      });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/add.scss";
</style>
