<template>
  <EntityWrapper v-bind:on-submit="onSubmit">
    <template v-slot:title>
      Список редактирования товаров
    </template>
    <div class="header-h1">
      <h1 v-if="addMode">Форма создания номенклатуры</h1>
      <h1 v-else>Форма редактирования номенклатуры</h1>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="prodType">Тип *</label>
        <select
            required
            id="prodType"
            v-model="nomen.prodType"
            type="text"
            v-on:keyup="erroredNomen.prodType = ''"
        >
          <option value="Товар">Товар</option>
          <option value="Услуга">Услуга</option>
        </select>
      </div>
      <span class="error_message">{{ erroredNomen.prodType }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="fullname">Наименование *</label>
        <input
          required
          id="fullname"
          v-model="nomen.fullName"
          type="text"
          v-on:keyup="erroredNomen.fullName = ''"
        />
      </div>
      <span class="error_message">{{ erroredNomen.fullName }}</span>
    </div>
    <div class="entity_field">
      <div class="entity_form_line">
        <label for="prodCost">Цена (руб.) *</label>
        <input
          required
          id="prodCost"
          v-model="nomen.prodCost"
          type="text"
          v-on:keyup="erroredNomen.prodCost = ''"
        />

      </div>
      <span class="error_message">{{ erroredNomen.prodCost }}</span>
    </div>
  </EntityWrapper>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator";
import axios from "axios";
import {Nomen} from "@/scripts/model/Nomen";
import EntityWrapper from "@/components/layouts/wrappers/EntityWrapper.vue";

@Component({
  components: { EntityWrapper }
})
export default class NomenEditor extends Vue {
  @Prop() id?: number;
  nomen: Nomen = {};
  erroredNomen: Nomen = {};
  addMode = false; //true -> edit mode

  created() {
    this.nomen = {};
    this.erroredNomen = {};

    if (this.id == null) {
      this.addMode = true;
    }

    if (!this.addMode) {
      axios.get("/nomen/exact", { params: { id: this.id } }).then(response => {
        this.nomen = response.data;
      });
    }
  }
  onSubmit(goBack: () => void) {
    let url;

    if (this.addMode) {
      url = "/nomen/add";
    } else {
      url = "/nomen/edit";
    }

    axios
      .post(url, this.nomen)
      .then(response => {
        if (response.status == 201) {
          goBack();
        }
      })
      .catch(error => {
        if (error.response.status == 422) {
          this.erroredNomen = error.response.data;
          console.log(this.erroredNomen);
        } else {
          console.log(error.response);
        }
      });
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/add.scss";
</style>
