<template>
  <TableWrapper>
    <template v-slot:title>
      Список товаров
    </template>
    <template v-slot:table-header>
      <th>Тип</th>
      <th>Наименование</th>
      <th>Цена, руб.</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </template>
    <template v-slot:default>
      <tr :key="index" v-bind="nomens" v-for="(nomen, index) in nomens">
        <td>{{ nomen.prodType }}</td>
        <td>{{ nomen.fullName }}</td>
        <td>{{ nomen.prodCost }}</td>
        <td>
          <router-link :to="getLinkEdit(nomen.id)">
            <button class="catalog_button colored-orange">Изменить</button>
          </router-link>
        </td>
        <td>
          <button
            class="catalog_button colored-red"
            @click.prevent="deleteEntity(nomen.id)"
          >
            Удалить
          </button>
        </td>
      </tr>
    </template>
  </TableWrapper>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import TableWrapper from "@/components/layouts/wrappers/TableWrapper.vue";
import {Nomen} from "@/scripts/model/Nomen";

import axios from "axios";

@Component({ components: { TableWrapper } })
export default class NomenList extends Vue {
  nomens: Nomen[] = [];

  mounted() {
    this.loadTable();
  }

  getLinkEdit(id: number): string {
    return this.$route.path + "/edit/" + id;
  }

  loadTable() {
    axios.get("/nomen").then(response => {
      this.nomens = response.data;
    });
  }

  deleteEntity(id: number) {
    if (confirm("Вы точно хотите удалить?")) {
      axios.delete("nomen/delete", { params: { id: id } }).then(response => {
        this.loadTable();
      });
    }
  }
}
</script>

<style scoped lang="scss">
@import "~@/assets/css/tables.scss";
</style>
