/*.entity_form_top_button_panel_item {*/
/*    display: block;*/
/*    margin: 11px 26px;*/
/*}*/

/*.entity_form_top_button_panel_first_item {*/
/*    margin-left: 52px;*/
/*}*/

.entity_field {
    display: flex;
    flex-direction: column;
}

.entity_form_line {
    display: flex;
}

.error_message {
    font-size: 13px;
    color: red;
    min-height: 19px;
    max-width: fit-content;
}

.entity_form_line label {
    width: 100%;
    min-width: 100px;
    align-self: center;
    margin-right: 10px;
}

.entity_form_table input, .entity_form_table select {
    min-width: 415px;
    height: 38px;

    margin: 3px;

    background: #FFFFFF;
    border: 2px solid #787373;
    box-sizing: border-box;
    border-radius: 10px;
}

.entity_form_table input:focus, .entity_form_table select:focus {
    outline: none;
}

.entity_form_table input[type="file"] {
    border-radius: 0;
    border: none;
}

.entity_form_bottom_button_panel {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 14px;
}
.text_info {
    text-align:  center;
    width: 200px;
}
.header-h1 h1 {
    position: relative;
    padding-bottom: .5rem;
    font-size: 1.0rem;
    text-transform: uppercase;
    text-align: center;
}
