@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Roboto';
    font-size: 20px;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: 100%;

    overflow: auto;
}

input, select {
    padding: 0 8px;
}

.common_button {
    border-radius: 10px;
    height: 40px;
    border: none;
}

.common_button:focus {
    outline: none;
}

.colored-blue {
    background: #0AA3F9;
}

.colored-gray {
    background: #A1A2A7;
}

.colored-cyan {
    background: #3AAB87;
}

.colored-orange {
    background: #FFBF35;
}

.colored-red {
    background: #EE4E41;
}
