.catalog {
    overflow: auto;
}

.view {
    border-collapse: collapse;
    background-color: white;

    text-align: center;
    white-space: nowrap;
}
tr td, tr th {
    border: 1px solid black;
    padding: 6px 28px;
}

.catalog_button {
    border-radius: 10px;
    border: none;

    margin: 3px;
    min-width: 200px;
    height: 40px;
}

.first-upper-button {
    margin: 9px 0 9px 50px;
}

.catalog_button:focus {
    outline: none;
}


